* {
	-fx-bg-color: #1c1c1c;
}

.root {
	-fx-background-color: -fx-bg-color;
}

#area {
	-fx-background-color: -fx-bg-color;
}

#area .text {
	-fx-fill: white;
}

#area .lineno {
	-fx-background-color: -fx-bg-color;
	-fx-text-fill: #BBBBBB !important;
	-fx-fill: #BBBBBB !important;
	-fx-border-color: white;
	-fx-border-width: 0 1px 0 0;
}

#area .paragraph-text {
	-fx-padding: 0 0 0 4px;
}

#area .keyword {
    -fx-fill: #4286f4;
}

#area .operator {
    -fx-fill: purple;
}

#area .comment {
	-fx-fill: gray;
}

#area .string {
	-fx-fill: #50ff47;
}

#area .caret {
	-fx-stroke: white;
}