* {
	-fx-bg-color: rgb(32,32,32);
}

.root {
	-fx-background-color: -fx-bg-color;
}

#area {
	-fx-background-color: -fx-bg-color;
}

#area .paragraph-text {
	-fx-padding: 0 0 0 4px;
}

#area .text {
    -fx-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 16px;
}

#area .keyword {
    -fx-fill: blue;
}

#area .operator {
    -fx-fill: purple;
}

#area .comment {
	-fx-fill: gray;
}

#area .string {
	-fx-fill: green;
}

#area .caret {
	-fx-fill: white;
}

#area .lineno {
	-fx-background-color: -fx-bg-color;
	-fx-font-style: normal;
	-fx-font-family: Arial;
	-fx-alignment: center;
	-fx-border-width: 0 1px 0 0;
	-fx-border-color: black;
	-fx-padding: 0 8px 0 8px;
}

#area .lineno .text {
	-fx-font-size: 12px;
}